{% extends "layout_unbranded.html" %}
{% block page_title %}
Suspend a notice of eviction
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
 <!--<div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/">Business and self-employed</a></li>
    <li><a href="/">Business debt and bankruptcy</a></li>
    <li><a href="/">Apply for a Warrant of control</a></li>
  </ol>
</div>-->
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Apply to suspend an eviction</h1>
    <p class="lede">Use this service to apply against a notice of eviction that has been served on you. It costs £50.00 to apply and you may be eligible to <a href="#">get help with paying the fee.</a>
</p>
                  <hr>
                  <a class="button button-start" href="noe-defendant" role="button">Start now</a>

                </form>
                
  <!--{% include "includes/contact.html" %}-->

              </div>
              <!--<div class="column-third">
<aside class="govuk-related-items" data-module="track-click" role="complementary">
          <h2 data-track-count="sidebarRelatedItemSection">
            Business debt and bankruptcy
          </h2>



          <nav role="navigation">
            <ul>
              <li>
                <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/make-court-claim-for-money" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Make a court claim for money&quot;}" href="overview">Make a court claim for money</a>
              </li>
                            <li>
                <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/make-court-claim-for-money" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;Make a court claim for money&quot;}" href="enter-claim-number?mcol=1">Return to an existing claim</a>
              </li>
              <li class="related-items-more">
                <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/browse/business/funding-debt" data-track-options="{&quot;dimension28&quot;:&quot;2&quot;,&quot;dimension29&quot;:&quot;More&quot;}" href="/browse/business/funding-debt">
                  More
                  <span class="visuallyhidden">
                    in
                    Business debt and bankruptcy
                  </span>
                </a>
                 </li>
              </ul>
            </nav>
          </aside>               </div>
             </div>-->
           </main>
{% endblock %}
