{% extends "layout_unbranded.html" %}
{% block page_title %}
Suspend a notice of eviction
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
 <!--<div class="breadcrumbs">
  <ol>
    <li><a href="/">Home</a></li>
    <li><a href="/">Business and self-employed</a></li>
    <li><a href="/">Business debt and bankruptcy</a></li>
    <li><a href="/">Apply for a Warrant of control</a></li>
  </ol>
</div>-->
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-large">Why you should stay in the property</h1>
    
    <!--<h2 class="heading-large">Before you start</h2>
        <p>To use this service you need:</p>
        <ul class="list list-bullet">
          <li>a copy of your notice of eviction letter</li>
          <li>details of the person or organisation ("the claimant") who sent you the notice of eviction</li>
          <li>pay the application fee of £50 using a credit or debit card</li>
          </ul><br>--><br>
          <p>Briefly explain why you believe your eviction shouldn’t proceed. Include details of any steps you’ve taken to address your arrears or make regular payments.</p>
<div class="form-group">

  <fieldset>

            <textarea class="form-control form-control-3-4 form-control-large"
            id="claim-reason"
            rows="3"
            name="claim-reason"
            type="text"
            style="width: 100%"
            value="">{{data['claim-reason']}}</textarea>
          </fieldset>
          <hr>
          <div class="form-group">
                              <a class="button" href="noe-cya" role="button">Submit</a><br><br>


                  <!--<a class="button" href="noe-reasons" role="button">Continue</a><br>-->
                </form>
                
  <!--{% include "includes/contact.html" %}-->

              </div>

           </main>
{% endblock %}
