{% extends "layout_unbranded.html" %}
{% block page_title %}
CTSC 360 prototypes 
{% endblock %}
{% block content %}
<style type="text/css">
.report-error {display: none}
</style>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">CTSC 360 Customer view prototypes</h1><br>


      <h2 class="heading-large">Discovery - Q4 2017 to Q2 2018 TEST TEST </h2>

      <h2 class="heading-medium">Scenario 1</h2>
      <ol class="list-bullet">
            <li><a href="dashboard/idam/gov/v2/overview">Scenario 1 - START</a> </li>
            <li><a href="warrant-for-control/wfc-start" target="_blank">Scenario 1 - Enforcement Journey</a> </li>
            </ol>

       <h2 class="heading-medium">Scenario 2</h2>
             <ol class="list-bullet">
            <li><a href="notice-of-eviction/noe-start" target="_blank">Scenario 2 - START</a> </li>
          </ol>


      <!--<h2 class="heading-medium">Archived prototypes </h2>

      <a href="log">View logs</a>
    </div>
    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Controls</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <ul>
              <li>
                <a class="secondary-button" href="/prototype-admin/clear-data">&nbsp; &nbsp; Clear data &nbsp; &nbsp;</a>
              </li>
            </ul>
            <li>-->
            </nav>
          </aside>
        </div>
      </div>
    </main>
    {% endblock %}
